<div class="container text-center">
    <%= render "layouts/flash" %>
<h1 class="text-center" id="hometitle">LinkBoard</h1>
<h3 class="text-center" id="homestatement">A Reddit-Style Collection of Noteworthy Links</h3>
<div class="background_image text-center">




  </div>
  </div>
